<footer>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quaerat aliquid a voluptatum illo, minus cupiditate iste commodi voluptatibus et dicta modi minima dolores at reprehenderit perferendis sed est pariatur.</p>
</footer>