<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- <script type="module" src="/javascripts/dom-review.js"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/javascripts/users-crud.js"></script>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/users/display">users</a>
    </nav>
    {{{body}}}
  </body>
</html>
