<h1>Users Manager</h1>

<h2>todos</h2>

<ul id="list-todo">
  <li>create a user</li>
  <li>list all users</li>
  <li>delete one user</li>
  <li>delete all users</li>
  <li>update one user</li>
</ul>

<div id="block-create-user">
  <input
    type="text"
    id="new-user-name"
    placeholder="user name"
    value="test guy"
  />
  <input
    type="email"
    id="new-user-email"
    placeholder="user email"
    value="test@guy.com"
  />
  <button>ok</button>
</div>

<ul id="list-users">
  {{#each users}}
    <li>{{name}} - {{email}}</li>
  {{/each}}
</ul>